

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: transparent !important;
}

.nav-link {
    display: block !important;
    /* padding: 0px !important; */
    padding-left: 2px !important;
    padding-right: 2px !important;
}

.judul-title{
    color: #FF5700;
    font-weight: bold;
}

.orange{
    color: #FF5700;
}

.discount{
    text-decoration: line-through;
}

.stock{
    border-radius: 50px !important;
    background-color: #CEFCDF !important;
    color: #009444 !important;
    border: none !important;
}

.stock-body {
    flex: 1 1 auto;
    min-height: 1px;
    font-weight: bold;
    padding-right: 0.50rem !important;
    padding-left: 0.50rem !important;
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
    
}

.quantity{
    display: flex;
    justify-content: center;
}